.input-with-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hint-container {
  // margin-top: 5px;
  // margin-left: 5px;
  display: flex;
  justify-content: space-between;
  color: #696969;
}
