.input-with-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hint-container {
  display: flex;
  justify-content: space-between;
  color: #696969;
}

.hint {
  margin-bottom: 0;
}
