.container {
  position: relative;
  display: inline-flex;
  width: auto;
  background-color: #fafafa;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.05);

  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 0;
  }

  .label {
    position: relative;
    z-index: 1;
    font-size: 0.9rem;
    font-weight: 500;
    color: #555;
    transition: color 0.3s ease;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      color: #ffffff;
      font-weight: 600;
    }
  }
}
