.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .form-title {
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .otp-container {
      display: flex;
      width: 100%;

      input {
        border-right: none;
        border-radius: 4px 0 0 4px;
      }

      button {
        background-color: #1d1160;
        color: #ffffff;
        width: 12rem;
        border-radius: 0 4px 4px 0;
        font-size: 0.9rem;
        padding: 12px 0;
      }
    }
  }

  .forgot-password {
    margin-top: 5px;
    text-align: right;
  }

  .error {
    padding: 5px 0 10px 0;
    color: #ff0000;
    min-height: 1rem;
    line-height: 1;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;

    .switch-btn {
      width: 48%;
      padding: 10px;
      background-color: #ffffff;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 4px;

      &:hover {
        background-color: #000000;
        color: #ffffff;
        border: 1px solid #ffffff;
      }
    }

    .submit-btn {
      width: 48%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
    }

    @media (max-width: 600px) {
      flex-direction: column;

      .switch-btn {
        width: 100%;
        margin-bottom: 10px;
      }

      .submit-btn {
        width: 100%;
      }
    }
  }
}
